<!-- Reference: [ROS 八叉树地图构建 - 使用 octomap_server 建图过程总结！](https://www.guyuehome.com/35778) -->
<!-- 但是这玩意儿最后好像没有被用到，也就是说最后建图用的是 pgm 栅格地图而非 octomap 八叉树图？ -->
<launch>    
    <!-- octomap_server 建图包的 octomap_server_node 节点 -->
    <node pkg="octomap_server" type = "octomap_server_node" name="octomap_server">
        <!-- Map Server Params -->
        <!-- 地图分辨率 resolution：用来初始化地图对象 -->
        <param name ="resolution" value="0.1" />
        <!-- 全局坐标系 frame_id：构建的全局地图的坐标系 -->
        <param name = "frame_id" type="str" value="map" />
        <!-- 动态构建地图时用于插入点云数据的最大范围（以米为单位），将范围限制在有用的范围内（例如5m）可以防止虚假的错误点。 -->
        <param name = "sensor_model/max_range" value="1000.0" />
        <!-- 不管主题是锁定发布还是每次更改仅发布一次，为了在构建地图（频繁更新）时获得最佳性能，请将其设置为 false，如果设置为 true，在每个地图上更改都会创建所有主题和可视化。 -->
        <param name = "latch" value="true" />
        <!-- 要在回调中插入的点的最小和最大高度，在运行任何插入或接地平面滤波之前，将丢弃此间隔之外的任何点。您可以以此为基础根据高度进行粗略过滤，但是如果启用了 ground_filter，则此间隔需要包括接地平面。 -->
        <param name = "pointcloud_max_z" value="1.0" />
        <param name = "pointcloud_min_z" value="0.0" />
        <!-- 要订阅的点云主题名称 /map：作为建图的数据输入，建图包是把一帧一帧的点云叠加到全局坐标系实现建图 -->
        <remap from ="cloud_in" to="/map" />

    </node>
</launch>

<!-- NewBing 说的

在ROS的launch文件中，<remap from="cloud_in" to="/map" /> 和 <remap from="/cloud_in" to="/map" /> 这两种写法的区别在于它们匹配的主题名称。

<remap from="cloud_in" to="/map" /> ：
    这将把当前命名空间下名为cloud_in的主题重映射为/map。例如，如果你的节点在/my_namespace下，那么这个规则将匹配/my_namespace/cloud_in。
<remap from="/cloud_in" to="/map" />：
    这将把全局命名空间下名为cloud_in的主题重映射为/map。这个规则将匹配/cloud_in，而不考虑当前的命名空间。

所以，这两种写法的区别在于它们匹配的主题的范围不同。希望这个解释对你有所帮助！
 -->